@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@100;400;600&display=swap');

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* 1st section  */

.oerlay-color{
    background: black;
}
.overlay{
    object-fit: cover;
    opacity: 0.4;
}
@media (max-width: 767.98px) { 
    .mb-custom {
        height: 75%!important;
    }
 }
 @media (max-width: 575.98px) { 
    .mb-custom {
        height: 95%!important;
        width: 75%!important;
    }
  }

/* 2nd section  */
.mt-custom{
    margin-top: 120px;
}
.border-custom{
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}
.custom_h5{
    color: #4A4A4A;
}
@media (max-width: 767.98px) { 
    .width-custom {
        width: 100%!important;
        object-fit: cover;
        object-position: center center;
    }
 }
 @media (max-width: 575.98px) { 
    .mb-custom {
        width: 100%!important;
        object-fit: cover;
        object-position: center center;
    }
  }
  /* third section  */
  @media (max-width: 991.98px) { .custom-height{
    height: 100%;
  } }
  /* 4th section  */
  @media (max-width: 991.98px) {.modals_btn{
    margin:auto
} }
  @media (max-width: 767.98px) { 
    .modals_btn{
        margin:auto
    }
 }
 @media (max-width: 575.98px) { 
    .modals_btn{
        margin:auto
    }
  }